@keyframes trippyborder {
0% {border-style: dotted;}
50% {border-style: dashed;}
100% {border-style: dotted;}
from {border-color: #05386B;}
to {border-color: #8EE4af;}
}

img {
  object-fit: contain;
  max-width: 70%;
  max-height: 70%;
  animation-name: trippyborder;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: block;
  margin-top: auto;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
}

body {background-color: #379683;}

h1{
  font-size: 48px;
  font-family: fantasy;
  color: #EDF5E1;
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
}

h2{
  font-family: fantasy;
  color: #EDF5E1;
  text-align: center;
  margin-top: none;
  margin-bottom: none;
  margin-bottom: auto;
  margin-bottom: auto;
}

 input{
margin-top: 4px;
font-size: 20px;
display: block;
margin-right: auto;
margin-left: auto;
height: 22px;
width: 250px;
 }

button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #EDF5E1;
  padding:  20px 20px;
  font-size: 22px;
  background-color: #379683;
  border-radius: 50%;
}

em{
  font-size: 88px;
}

#gameWindow{
  animation-name: trippyborder;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-width: 8px;
  background-color: #05386B;

}

#maps{
  font-family: fantasy;
  color: #EDF5E1;
}

#plotMessage{
  height: 100px;
  width: 640px;
  font-size: 20px;
  background-color: #379683;
  margin-bottom: none;
  margin-top: auto;
  margin-bottom: auto;
}

#gameMessage{
  font-size: 20px;
  width: 640px;
  text-align: center;
  height: 41px;
  color: #EDF5E1;
  background-color: #379683;
  font-style: bold;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

p{
  text-align: center;
  font-size: 32px;
  margin-top: auto;
  margin-bottom: auto;
}
